body
{
    font-family: 'Caveat', cursive;
    font-weight: 400;
}

.profile-img {
    border-radius: 50%;
    height: 75%;
    
  }


#title
{
    background-color: #E0F4FF;
}

#hero-container p
{
  font-weight: bold;
  font-style: oblique;
  color: #4E12E0;
}

#hero-container h2
{
  font-weight: bold;
  color:#1640D6;
}

#work-container
{
  display: flex;
  justify-content: center;
  background-color: #DDF2FD;
  font-weight: bold;
  font-size: small;
}

#work-container img
{
  border-radius: 5%;
}

#my-skills-container
{
  background-color: #E0F4FF;

}

#contact-container
{
  background-color: #DDF2FD;
}

#footer
{
  font-weight: bold;
}

.gradient-background {
    background: linear-gradient(200deg, #E0F4FF,  #87C4FF, #00A9FF);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .feature-icon
  {
    width: 2rem;
    height: 2rem;
    border-radius: 0.50rem;

  }
  